@font-face {
  font-family: "fredokaOne";
  src: url("FredokaOne-Regular.otf");
}

@font-face {
  font-family: "montserrat";
  src: url("Montserrat-Medium.ttf");
}

@font-face {
  font-family: "dingbats";
  src: url("Fredoka dingbats.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  height: 100vh;
}

#splash-grid {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  display: grid;
  grid-template-rows: 50px auto;
  height: 100%;
}

#header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "fredokaOne", Fallback, sans-serif;
}

#header-left {
  background-color: beige;
  grid-column: 1/2;
}

#header-right {
  /* background-color: blueviolet; */
  font-size: 1.5em;
  text-align: right;
  grid-column: 3/4;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #ff8e6c;
}

a:hover {
  color: #ff5765;
}

a:active {
  color: #ff8e6c;
}

a:visited {
  color: #ff8e6c;
}

#splash-content {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-evenly;
}

#splash-left {
  /* justify-items: center; */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

#title {
  font-family: "fredokaOne", Fallback, sans-serif;
  font-size: 9em;
  vertical-align: baseline;
  line-height: 0.75;
}

#headline {
  font-family: "fredokaOne", Fallback, sans-serif;
  font-size: 1.75em;
}

#download {
  margin-top: 20px;
  margin-bottom: 20px;
}

.download-button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: large;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-size: auto 200%;
  background-image: linear-gradient(to top, #ff9f56 0%, #ffdc6c 100%);
}

.download-button:hover {
  transition: 0.5s;
  background-position: 100% 500%; /* change the direction of the change here */
}

.download-button:active {
  transition: 0.5s;
  background-size: auto 200%;

  background-image: linear-gradient(to top, #ff8056 0%, #ff9f61 100%);
}

.download-button:focus {
}

#intro-copy {
  font-size: 1em;
  max-width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

#splash-right {
  /* margin: 10px; */
}

#main-image > img {
  width: 100%;
}

#benefits-flex {
  display: flex;
  justify-content: space-around;
  /* justify-items: center; */
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  align-self: center;
}

.benefit {
  display: grid;
  grid-template-rows: 0px 75px 50px 75px;
  width: 300px;
  justify-items: center;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.benefit::before {
  content: "";
  position: relative;
  /* top: -10px; */
  width: 300px;
  height: 200px;
  border-radius: 50px;

  z-index: -1;
  background-image: linear-gradient(to top, #ff8056 0%, #ff9f61 100%);
  transform: rotate(3deg);
}

.benefit-icon {
  font-family: "dingbats";
  vertical-align: bottom;
  font-size: 4em;
}

.benefit-title {
  vertical-align: bottom;
  font-family: "fredokaOne", Fallback, sans-serif;
}

.benefit-summary {
  margin: 5px;
  text-align: center;
}

#cta-grid {
  justify-self: center;
  align-self: center;
  background-color: burlywood;
  grid-column: 2/3;
  grid-row: 3/4;
}

#footer-grid {
  background-color: chartreuse;
  grid-column: 2/3;
  grid-row: 4/5;
}
