@font-face {
  font-family: "fredokaOne";
  src: url("FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("Montserrat-Medium.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
}

#splash-grid {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  display: grid;
  grid-template-rows: 50px auto;
}

#header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "fredokaOne", Fallback, sans-serif;
}

#header-left {
  background-color: beige;
  grid-column: 1/2;
}

#header-right {
  background-color: blueviolet;
  grid-column: 3/4;
}

#splash-content {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-evenly;
  min-height: 100vh;
}

#splash-left {
  /* justify-items: center; */
  /* padding: 10px; */
  box-sizing: border-box;
  text-align: center;
}

#title {
  font-family: "fredokaOne", Fallback, sans-serif;
  font-size: 9em;
  vertical-align: baseline;
  line-height: 0.75;
}

#headline {
  font-family: "fredokaOne", Fallback, sans-serif;
  font-size: 1.75em;
}

#download {
}

#download-button {
}

#intro-copy {
  font-size: 1em;
  max-width: 500px;
}

#splash-right {
  /* margin: 10px; */
}

#main-image > img {
  width: 100%;
}

#benefits-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: brown;
  height: 300px;
}

.benefit {
  display: grid;
  background-color: chocolate;
  min-width: 300px;
}

#cta-grid {
  justify-self: center;
  align-self: center;
  background-color: burlywood;
  grid-column: 2/3;
  grid-row: 3/4;
}

#footer-grid {
  background-color: chartreuse;
  grid-column: 2/3;
  grid-row: 4/5;
}
